* {
  box-sizing: border-box;
}

article {
  overflow: hidden;
}

body {
  background: #888;
  font-family: Arial, Helvetica, sans-serif;
}

head {
  background: black;
  position: relative;
  z-index: 1;
}

.banner {
  display: inline-block;
  filter: grayscale(100);
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: auto;
  position: absolute;
  top: 15px;
  left: 350px;
  z-index: 2;
}

.banner2 {
  display: inline-block;
  filter: grayscale(100);
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: auto;
  position: absolute;
  top: 15px;
  left: 350px;
  z-index: 2;
}

h1 {
  color: salmon;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 3em;
  margin: 90px;
  position: relative;
  text-align: center;
  text-shadow: -1px -1px 0 black;
  z-index: 4;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin: 30px;
  padding: 5px;
}

nav {
  background: #111;
  font-size: 1.5em;
  line-height: 2em;
  max-width: auto;
  margin: 0;
  padding: 2px 60px 2px 460px;
  position: relative;
}

a {
  display: inline-block;
  padding: 2px;
  margin: 4px;
  text-align: center;
}

a:link {
  color: salmon;
}

a:visited {
  color: salmon;
}

a:hover {
  color: antiquewhite;
}

table {
  background: #999;
  border: #111;
  border-style: solid;
  border-width: 3px;
  color: #111;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  position: relative;
  width: 700px;
  text-align: center;
  top: 35px;
  left: 400px;
}

th {
  background: #111;
  color: antiquewhite;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

td {
  border: #111;
  border-style: solid;
  padding: 5px;
}

tr:hover {
  background: salmon;
}

#foot-totals:hover {
  background: #111;
}

td:first-child {
  border: black;
  border-style: solid;
  font-weight: bold;
  text-align: left;
}

footer {
  display: block;
  background: black;
  color: antiquewhite;
  height: 80px;
}

.locations {
  color: salmon;
  float: right;
  font-size: 1em;
  margin: 8px 40px 0px 40px;
  padding: 2px;
  text-align: center;
}

.locations:hover {
  color: antiquewhite;
}

#copyright {
  color: salmon;
  float: left;
  font-size: 1em;
  margin: 60px 2px 1px 2px;
}

#table-foot {
  background: #333;
  color: antiquewhite;
}

#fishies {
  float: left;
  margin: 5px 15px 2px 5px;
}

#cutter {
  max-width: 200px;
  height: auto;
}

p {
  font-size: 1.5em;
  margin: 0px 0px 15px 0px;
}

span {
  background: #111;
  color:antiquewhite;
  font-weight: bold;
  padding: 1px;
  margin: 0px 2px 8px 0px;
}

.cookies {
  float: right;
  margin: 2px 5px 5px 15px;
}

.clearfix {
  clear: both;
}

#our-story {
  max-width: 80%;
  text-align: center;
}